@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap");

$primary-color: #ffffff;
$secondary-background-color: #e8f4f6;
$secondary-color: #b8272f;
$third-color: #c83691;
$primary-font-color: #323232;
$alternative-font-color: #6b4895;
$primary-button-color: #187bd8;

@mixin display-flex-prefix-properties {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin display-inline-flex-prefix-properties {
  display: -webkit-inline-box;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: -webkit-flex;
  display: inline-flex;
}

/* Common styles */
body {
  font-family: "Ubuntu", sans-serif;
  color: $primary-font-color;
}

.separator {
  border-bottom: 1px solid $secondary-color;
  width: 90%;
  margin: auto;
}

.section {
  padding: 2.25rem 0 3.25rem;
}

.primary-button {
  display: inline-block;
  padding: 15px 25px;
  border-radius: 30px;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1;
  color: $primary-color;
  background: $primary-button-color;
  cursor: pointer;

  &:hover {
    color: $primary-color;
    background: darken($color: #187bd8, $amount: 10%);
    text-decoration: none;
  }
}

.scroll-top {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 99;
  border: none;
}

.section-title {
  color: $third-color;
  font-weight: 500;
  font-size: 2rem;
  text-transform: capitalize;
  text-align: center;
  padding: 1.25rem;
}

.section-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 2;
}

/* Sticky footer styles */

html,
body {
  height: 100%;
}

#main-wrapper {
  height: 100%;
  @include display-flex-prefix-properties;
  flex-direction: column;
}

#main {
  flex: 1 0 auto;
}
/* End of sticky footer styles*/

/*Header styles*/
#header {
  font-size: 14px;
  @include display-flex-prefix-properties;
  align-content: flex-end;
  width: 100%;
  margin: 0px;
  padding: 1.1rem 0;
  background: $primary-color;

  .content_wrapper {
    @include display-flex-prefix-properties;
    justify-content: space-between;
  }

  a.logo {
    @include display-flex-prefix-properties;
    align-self: flex-start;

    img {
      width: 300px;
      height: auto;
    }
  }

  #nav {
    font-size: 14px;
    padding-left: 90px;
    width: 100%;
    @include display-flex-prefix-properties;
    flex-flow: row wrap;
    justify-content: center;

    li + li {
      margin-left: 24px;
    }

    .hamburger {
      display: none;
    }
  }

  #anchor-nav-icon {
    display: none;
  }

  .menu {
    @include display-flex-prefix-properties;
    align-content: center;
    flex-flow: wrap;
    justify-content: flex-end;
    width: 100%;

    li {
      @include display-inline-flex-prefix-properties;

      &:last-of-type {
        margin-right: -8px;
        a {
          padding-right: 8px;
        }
      }

      a {
        color: $third-color;
        @include display-inline-flex-prefix-properties;
        padding: 8px;
        font-weight: 500;

        &:hover {
          color: $secondary-color;
        }
      }
    }
  }
}

/*End of Header styles*/

/* Hero Section Intro styles  */
#hero-section {
  padding: 3rem 0;
  min-height: 85vh;
  background: url(../images/online-casino.jpg) no-repeat center center;
  background-size: cover;
  text-align: center;
  display: flex;
  flex-flow: column;
  justify-content: center;

  .content-container {
    color: $primary-color;

    h1 {
      font-size: 4.5rem;
    }

    .info {
      padding-top: 2.5rem;
      line-height: normal;
      font-size: 1.25rem;
    }

    .primary-button {
      margin-top: 4.5rem;
    }
  }
}
/* End of Hero section Intro styles */

/* About us section styles*/

#about-us {
  .section-text {
    padding-top: 1rem;
  }
}

#portfolio {
  background: $secondary-background-color;

  .brands-container {
    padding: 1.25rem;
  }

  .brands-info {
    padding: 1.25rem 0;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    line-height: 1.6;
  }

  .brand-logo-box {
    display: flex;
    align-items: center;
    align-items: center;
    padding: 1.25rem;
    .brand-link {
      display: inline-block;
      width: 100%;

      img {
        width: 100%;
        height: auto;
      }
    }
  }
}

/* End of About us section styles*/

/* Section Address styles */

#section-address {
  background: $primary-color;

  .google-maps-container {
    padding: 1.25rem 0;
    display: flex;
    justify-content: center;
    .google-maps {
      width: 100% !important;
    }
  }

  .address-text-container {
    min-height: 320px;
    @include display-flex-prefix-properties;
    align-items: center;
    #address {
      padding-top: 2rem;

      p {
        padding-top: 10px;
        font-size: 1.25rem;

        dfn {
          font-weight: bold;
        }
      }
    }
  }
}

/* Section Contacts styles */
#contacts {
  background: url(../images/map-background.jpg) no-repeat center center;
  background-size: cover;

  .section-title,
  .section-subtitle {
    color: $primary-color;
    text-align: center;
  }

  form {
    @include display-flex-prefix-properties;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    padding-top: 2.5rem;
  }

  .form-wrapper {
    width: 100%;
  }

  fieldset {
    width: 100%;
    margin-bottom: 33px;
  }

  .button {
    flex: 1 1 auto;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  input[type="text"],
  textarea {
    font-size: 14px;
    padding: 15px;
    border-radius: 4px;
    border: none;
  }

  input[type="text"] {
    width: 100%;

    & + input[type="text"] {
      margin-top: 33px;
    }
  }

  textarea[name="yourmessage"] {
    min-height: 207px;
    width: 100%;
  }

  input[type="submit"] {
    border: none;
  }
}

/* End of section Contacts styles */

/* Footer styles */

#footer {
  padding: 2rem;
  background: $secondary-background-color;

  .content-footer {
    text-align: center;
  }
}

/* scrolling functionality styles for header */
.header-fixed {
  background-color: $primary-color;
  position: fixed;
  margin: auto;
  width: 100%;
  z-index: 12;
}

.header-absolute {
  position: absolute;
  margin: auto;
  width: 100%;
  color: $primary-color;
}

/*Hamburger menu styles*/
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, -webkit-filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
  width: 40px;
  height: 4px;
  background: $third-color;
  border-radius: 4px;
  position: absolute;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;

  &::before,
  &::after {
    width: 40px;
    height: 4px;
    background: $third-color;
    border-radius: 4px;
    position: absolute;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
  }

  &::before,
  &::after {
    content: "";
    display: block;
  }

  &::before {
    top: -10px;
  }

  &::after {
    bottom: -10px;
  }
}

/* Stand */

.hamburger--stand {
  .hamburger-inner {
    transition: background-color 0s 0.1s linear,
      -webkit-transform 0.1s 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: transform 0.1s 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19),
      background-color 0s 0.1s linear;
    transition: transform 0.1s 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19),
      background-color 0s 0.1s linear,
      -webkit-transform 0.1s 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);

    &::before {
      transition: top 0.1s 0.1s ease-in,
        -webkit-transform 0.1s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
      transition: top 0.1s 0.1s ease-in,
        transform 0.1s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
      transition: top 0.1s 0.1s ease-in,
        transform 0.1s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19),
        -webkit-transform 0.1s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }

    &::after {
      transition: bottom 0.1s 0.1s ease-in,
        -webkit-transform 0.1s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
      transition: bottom 0.1s 0.1s ease-in,
        transform 0.1s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
      transition: bottom 0.1s 0.1s ease-in,
        transform 0.1s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19),
        -webkit-transform 0.1s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
  }

  &.is-active .hamburger-inner {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    background-color: transparent;
    transition: background-color 0s 0.22s linear,
      -webkit-transform 0.1s 0s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: transform 0.1s 0s cubic-bezier(0.215, 0.61, 0.355, 1),
      background-color 0s 0.22s linear;
    transition: transform 0.1s 0s cubic-bezier(0.215, 0.61, 0.355, 1),
      background-color 0s 0.22s linear,
      -webkit-transform 0.1s 0s cubic-bezier(0.215, 0.61, 0.355, 1);

    &::before {
      top: 0;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      transition: top 0.1s 0.12s ease-out,
        -webkit-transform 0.1s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
      transition: top 0.1s 0.12s ease-out,
        transform 0.1s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
      transition: top 0.1s 0.12s ease-out,
        transform 0.1s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1),
        -webkit-transform 0.1s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    &::after {
      bottom: 0;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      transition: bottom 0.1s 0.12s ease-out,
        -webkit-transform 0.1s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
      transition: bottom 0.1s 0.12s ease-out,
        transform 0.1s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
      transition: bottom 0.1s 0.12s ease-out,
        transform 0.1s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1),
        -webkit-transform 0.1s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  }
}

/* End of Hamburger menu styles */

/* Media queries */

// Medium devices (tablets, less than 992px)
@media all and (max-width: 991.98px) {
  html {
    font-size: 90%;
  }

  #header {
    a.logo {
      img {
        width: 220px;
        height: auto;
      }
    }
  }

  #hero-section {
    background: url(../images/online-casino.jpg) no-repeat top right;
  }

  #contacts {
    .button {
      flex: 1 1 924px;
    }

    fieldset {
      margin: auto;
      margin-bottom: 33px;
    }
  }
}

// Small devices (landscape phones, less than 768px)
@media all and (max-width: 767.98px) {
  html {
    font-size: 80%;
  }

  #header {
    a.logo {
      z-index: 2;
    }

    #nav {
      .hamburger {
        display: -webkit-flex;
        display: flex;
        z-index: 2;
        position: absolute;
        top: 13px;
        right: 14px;
        outline-style: none;
      }

      .hamburger--stand {
        position: fixed;
        top: 13px;
        right: 18px;
      }

      .menu {
        display: none;
        z-index: 1;
        background-color: grey;
        position: fixed;
        top: 0px;
        left: 50%;
        width: 100%;
        height: 100vh;
        justify-content: flex-start;
        align-items: center;
        padding: 100px 0 30px;
        flex-flow: column nowrap;
        transform: translateX(-50%);
        overflow-y: auto;

        li {
          margin: 0;
          padding: 10px;
          display: block;
          width: 100%;
          justify-content: center;

          &:hover {
            background-color: #9f9fa0;
          }
        }

        a {
          display: -webkit-flex;
          display: flex;
          justify-content: center;
          width: 100%;
          font-size: 18px;
          color: $primary-color;

          &:hover {
            color: $third-color;
          }
        }
      }

      .active {
        display: -webkit-flex;
        display: flex;
      }
    }

    .logo-fixed {
      position: fixed;
      top: 0px;
      left: auto;
    }
  }

  .hidden-scroll {
    overflow: hidden;
  }

  #portfolio {
    .brand-logo-box {
      .brand-link {
        width: 55%;
        margin: auto;
      }
    }
  }

  #section-address {
    .address-text-container {
      min-height: initial;
    }
  }

  #footer {
    .content_wrapper {
      justify-content: center;
      position: static;
      flex-flow: column wrap;
      align-items: center;
    }

    .logo-row {
      margin: 20px 0;
      position: static;
      transform: none;
      top: initial;
      left: initial;
      order: -1;
    }
  }
}

// Extra small devices (portrait phones, less than 576px)
@media all and (max-width: 575.98px) {
  html {
    font-size: 70%;
  }

  #hero-section {
    .content-container {
      h1 {
        font-size: 4rem;
      }

      .info {
        font-size: 16px;
      }
    }
  }

  #about-us {
    .section-text {
      font-size: 14px;
    }
  }

  #portfolio {
    .brands-info {
      font-size: 14px;
    }
  }

  .hamburger-inner {
    width: 33px;

    &::before,
    &::after {
      width: 33px;
    }
  }
}
